@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap");

* {
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    margin: 0 0 0 35rem;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    width: calc(100vw - 35rem);
    overflow-x: hidden;
}

section {
    min-height: 100vh;
    padding: 3rem 0;
}

.container {
    width: 100%;
    max-width: 992px;
    margin: 0 auto;
    padding: 0 2rem;
}

/* ===== Sidebar ===== */
.sidebar {
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 35rem;
    height: 100%;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 5rem 0;
    background-color: #f3f0f0;
    text-transform: capitalize;
    text-align: center;
    z-index: 999;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar img {
    width: 17rem;
    height: 17rem;
    object-fit: cover;
    margin-bottom: 1rem;
}

.sidebar h3 {
    color: #1F6E8C;
    font-size: 3.5rem;
    margin: 0;
}

.navbar {
    margin-top: 4rem;
    padding: 0 3rem;
}

.navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-link {
    display: block;
    background-color: #0E2954;
    padding: 1rem;
    margin: 1.5rem 0;
    border-radius: 5rem;
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    transition-property: background-color;
    transition-duration: 500ms;
}

.navbar-nav .nav-item:first-child .nav-link, .navbar-nav .nav-item:last-child .nav-link {
    margin: 0;
}

.nav-link.active, .nav-link:hover {
    background-color: #1F6E8C;
}

/* ===== Home ===== */
#home {
    display: flex;
    align-items: center;
    padding-right: 10rem;
    padding-left: 10rem;
    color: #0E2954;
}

.home h3 {
    font-size: 2.5rem;
    margin: 0;
}

.home h1 {
    font-size: 3.5rem;
    margin: 0;
}

.home h1 span {
    color: #1F6E8C;
}

.home p {
    font-size: 2.3rem;
    margin-top: 1rem;
}

/* ===== Guide ===== */
#guide {
    display: flex;
    align-items: center;
    padding-right: 10rem;
    padding-left: 10rem;
    color: #0E2954;
}

.guide h3 {
    font-size: 2.5rem;
    margin: 0;
}

.guide .correct span {
    color: #008000;
}

.guide .wrong span {
    color: #ff0000;
}

.guide ul {
    font-size: 2.3rem;
    margin-top: 1rem;
}